.main-container-showproduct{
    margin-top: 10vh;
    height: 100vh;
    width: 100vw;

    background-color: #f8f9fa; 
}
.show-img-product{
    width: 100%;
    height:500px;
}
@media only screen and (max-width: 600px) {
    .main-container-showproduct{
       margin-bottom: 100vh;
    }
} 
